{{> head }}
{{> navbar }}
<p></p>
<div class="row">
    <div class="col-8">
        <h1>Hola, about me!</h1>
        <div class="text-justify">
            <p>Curso de Node.js</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas in quod ipsa. Corrupti eum eligendi
                quos molestiae pariatur voluptas consequuntur suscipit unde perferendis quibusdam. Eveniet recusandae
                magni non facilis! In?
                A quae possimus distinctio quas minus incidunt hic architecto aspernatur itaque ut asperiores in autem
                excepturi iusto, enim rerum blanditiis cumque! Sed dignissimos optio veritatis, accusantium aut
                laudantium molestiae hic.
                Architecto nihil pariatur provident vero ullam aliquid explicabo, aut laudantium dolores consequatur
                esse suscipit eos nulla perferendis optio ea nobis asperiores? Laudantium adipisci, quae mollitia sequi
                asperiores maxime. Ab, ipsa.
                Veniam itaque facilis error nihil ex, ipsum iste aliquid iure nisi culpa quos quo. Vero aspernatur
                molestias quibusdam aliquid quam. Porro laboriosam iste quo, fugiat eaque quibusdam sequi maxime
                tempore.
            </p>

        </div>
    </div>

    <div class="col-4">
        <img src="assets/img/js.png" alt="" class="img-thumbnail">
    </div>

</div>

{{> footer }}